body {
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-color: #ffffff; 
}

input, select {
    background-color: #e7e3e3; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #000000; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}

.container {
    display: flex;
    justify-content: center;     /* Centra el contenido verticalmente */
    align-items: center;         /* Centra el contenido horizontalmente */
    grid-template-columns: auto auto auto; /* Tres columnas de igual tamaño */
    width: 70%; /* ancho */
    padding-top: px;
    margin: 0 auto;
    position: relative;
    gap: 200px
}

.linea-vertical {
    width: 2px;
    height: 400px;
    background-color: #000000;
    justify-self: center;
}


.logo {
    width: 300px;
    justify-self: center;
}

.botones-menu {
    display: flex;                 /* Activamos el modelo Flexbox */
    flex-direction: column;        /* Coloca los botones en una columna (uno encima del otro) */
    align-items: center;           /* Centra los botones horizontalmente dentro del contenedor */
    gap: 20px;                     /* Espacio entre los botones */
    margin-top: 20px;              /* Espacio superior para el contenedor, si es necesario */
    
}
.btn-registrar-reserva ,.btn-reservas ,.btn-aula{
    text-decoration: none;
    color: #000;
}

button {
    width: 200px;
    height: 40px;
    border: 2px solid #000;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 5px;	
}

button:hover {
    background-color: #9ac7ec;
    border: 2px solid #6096c2;
}

.h1_titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
