<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menuAdministrador.css">
    <title>Menu Administrador</title>
</head>
<body>
    <div class="h1_titulo">
            <h1 id="titulo-current-user">Bienvenido</h1>
    </div>
    <div class="container">
            <img src="/img/UTN_logo.png" alt="UTN Logo" class="logo">

            <div class="linea-vertical"></div>

            <div class="botones-menu">
                <button type="button" id="buscar-bedel" onclick="location.href='/admin/buscarBedel'">Buscar Bedel</button>
                <button type="button" id="registrar-bedel" onclick="location.href='/admin/registrarBedel'">Registrar Bedel</button>
            </div>
    </div>

        <!-- script-->
        <script src="/js/menuAdministrador.js"></script>
</body>
</html>