<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menuBedel.css">
    <title>Menu Bedel</title>
</head>
<body>
    <div class="h1_titulo">
            <h1 id="titulo-current-user">Bienvenido</h1>
    </div>
    <div class="container">
            <img src="/img/UTN_logo.png" alt="UTN Logo" class="logo">

            <div class="linea-vertical"></div>

            <div class="botones-menu">
                <button class="btn-registrar-reserva" type="button" onclick="location.href='/bedel/reserva/crear'">Registrar Reserva</button>
                <button class="btn-aula" type="button" onclick="location.href='/bedel/aula/buscar'">Buscar Aulas</button>
                <button class="btn-reservas" type="button" onclick="location.href='/bedel/reserva/buscar'">Reservas</button>
            </div>
    </div>

    <!-- script-->
    <script src="/js/menuBedel.js"></script>
</body>
</html>





